/* ---------------------------------------------- */
/*            CODE EXPLAINED TUTORIALS            */
/*         www.youtube.com/CodeExplained          */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*                  LOAD FONTS                    */
/* ---------------------------------------------- */
@font-face{
    font-family: 'gilory';
    src: url(./Gilroy-Regular.woff) format(woff);
}

/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: 'gilory', sans-serif;
}
html{
    font-size: 16px;

}
.hide{
    display: none;

}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */
header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(172, 182, 193);
    justify-content: space-between;
}
/* -------- LOGO -------- */
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.logo img{
    width: 60px;
}
.logo p{
    font-weight: bold;
    color: darkslategrey;
}
/* -------- NAV -------- */
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li:last-child{
    padding-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: darkslategrey;
    padding: 10px;
}
/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */

main{
    margin: 0 auto;
}

/* -------- BG IMAGE -------- */
.stats{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) , url('../../resources/img/bg.jpg');
    background-size: cover;

}

/* -------- LATEST REPORT -------- */

.latest-report{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    color: white ;
}
.country,
.total-cases,
.recovered,
.deaths{

    height: 100px;

}
.name{
    color: rgb(45, 204, 183);
    font-size: 2.2em;
    font-weight: bold;
}
.change-country{
    cursor: pointer;
}
.titel{
    font-size: 1.3em;
}
.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: green;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: red;
}
.new-value{
    font-size: 1.3em;
}


/* -------- CHART -------- */
.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;
    margin: 0 auto;
    padding: 50px 0;
}

/* -------- SEARCH COUNTRY -------- */
.search-country{
    position: relative;
    top: 10px;
}
.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    z-index: 1;
    background-color: #111;

}
.search-box input{
    width: 360px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-size: 1.1em;
}
.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.country-list{
    position: absolute;
    top: 30px;
    width: 400px;
    height: 300px;
    background-color: #111;
    opacity: 0.5;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
}

.country-list ul{
    width: 100%;

}
.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: white;

}
.country-list ul li:hover{
    border-left: 1px solid white;
}



/* SCROLL BAR */
/* width */
.country-list::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #1111;
  }

  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }

  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

/* ---------------------------------------------- */
/*                    FOOTER                      */
footer{
    height: 100px;
    
    margin: 0 auto;
    background-color: teal;
}
.footer-container{
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
}
.copyright{
    height: 80px;
    display: flex;
    padding-top: 20px;

}
.copyright p{
    color: white;
    align-content: center;
}
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */
@media screen and (max-width:600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-self: start;
    }
}
.containers{
    width:90%; 
    margin:auto; 
    overflow:hidden;
}
.clock{
  align-items: center;
  background-color:  cyan;
}
